Runnable_Jar/obstruction_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obstructions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="obstruction" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="obstruction_name"/>
              <xs:element type="xs:float" name="obstruction_width"/>
              <xs:element type="xs:float" name="obstruction_height"/>
              <xs:element type="xs:float" name="obstruction_length"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>