Runnable_Jar/runway_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="runways">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="runway" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="runway_name"/>
              <xs:element type="xs:byte" name="runway_id"/>
              <xs:element type="xs:float" name="toda_from_left"/>
              <xs:element type="xs:float" name="toda_from_right"/>
              <xs:element type="xs:float" name="tora"/>
              <xs:element type="xs:float" name="asda_from_left"/>
              <xs:element type="xs:float" name="asda_from_right"/>
              <xs:element type="xs:float" name="lda_from_left"/>
              <xs:element type="xs:float" name="lda_from_right"/>
              <xs:element type="xs:float" name="take_off_plane_blast_distance"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>